.nav-main-container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom,rgb(6, 4, 61),rgb(14, 4, 73));
}

.nav-bar{
    height: 40px;
    width: 100%;
    background-color:rgb(20, 0, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    position:fixed;
}

.nav-logo{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    margin-left: 20px;
}

.nav-inner-container{
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
}



.nav-span-items:hover{
    filter: drop-shadow(0px 0px 15px #ffffff);
    cursor: pointer;
}

.link{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    height: 25px;
    width: 70px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
    border-color: rgb(0, 165, 236);

}

.nav-items{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
}